<a href="https://colab.research.google.com/github/clairembassett/DS-1002/blob/main/07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [1]:
# Load pandas and the data
import pandas as pd
import numpy as np
rideshare = pd.read_csv('https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv')

In [2]:
# show how many rows and columns are in this dataset
num_rows, num_columns = rideshare.shape
print('The data set has', num_rows, 'rows')
print('The data set has', num_columns, 'columns')

The data set has 25760 rows
The data set has 10 columns

In [3]:
print(rideshare.dtypes)

duration           object
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [4]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
#This line removes non-numeric characters
rideshare['duration'] = rideshare['duration'].str.replace(r'\D', '', regex=True)
rideshare['duration'] = rideshare['duration'].astype('int')

#The below line prints True if the data type of "duration" an integer, allowing one to ensure it was changed from a string to an integer
rideshare['duration'].dtype == 'int'

True

In [5]:
# Now display the datatypes in the updated dataframe
print(rideshare.dtypes)

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [6]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
min_duration = rideshare['duration'].min()
max_duration = rideshare['duration'].max()
print('The minimum duration is', min_duration, 'minute!')
print('The maximum duration is', max_duration, 'minutes!')
min_list = []
max_list = []

max_list.append(max_duration)
min_list.append(min_duration)

The minimum duration is 1 minute!
The maximum duration is 1372 minutes!

In [7]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
#Couldn't find query() in the notebook so I tried this method and it worked
rideslessequal60 = rideshare[rideshare.duration <= 60]
rideslessequal60.sort_values(['duration'], ascending = False).head()

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
22646,60,3,Powell St BART Station (Market St at 4th St),44,Civic Center/UN Plaza BART Station (Market St ...,5018,1,1988,Male,29
16505,60,3,Powell St BART Station (Market St at 4th St),5,Powell St BART Station (Market St at 5th St),5271,1,1988,Male,26
19235,60,3,Powell St BART Station (Market St at 4th St),285,Webster St at O'Farrell St,5301,3,1988,Male,26
14752,60,5,Powell St BART Station (Market St at 5th St),349,Howard St at Mary St,5480,1,1976,Male,26
5878,60,21,Montgomery St BART Station (Market St at 2nd St),41,Golden Gate Ave at Polk St,5069,1,1974,Female,26

In [8]:
# Now show both the min and max values of the duration column for your new dataset.
min_duration_new = rideslessequal60['duration'].min()
max_duration_new = rideslessequal60['duration'].max()
print('The minimum duration is', min_duration_new, 'minute!')
print('The maximum duration is', max_duration_new, 'minutes!')
min_list = []
max_list = []

The minimum duration is 1 minute!
The maximum duration is 60 minutes!

In [9]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
rides60orlessonlytires26 = rideslessequal60[rideslessequal60.tire_size == 26]
#organizes date frame by duration as all the tire sizes are the same, then prints data frame
rides60orlessonlytires26.sort_values(['duration'], ascending = False).head()

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
6009,60,15,San Francisco Ferry Building (Harry Bridges Pl...,15,San Francisco Ferry Building (Harry Bridges Pl...,184,3,1990,Male,26
14752,60,5,Powell St BART Station (Market St at 5th St),349,Howard St at Mary St,5480,1,1976,Male,26
5878,60,21,Montgomery St BART Station (Market St at 2nd St),41,Golden Gate Ave at Polk St,5069,1,1974,Female,26
19235,60,3,Powell St BART Station (Market St at 4th St),285,Webster St at O'Farrell St,5301,3,1988,Male,26
16505,60,3,Powell St BART Station (Market St at 4th St),5,Powell St BART Station (Market St at 5th St),5271,1,1988,Male,26

In [10]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
#Uses the prior set conditions to add the new condition of female only and then prints data frame
femalerides60orlessonlytires26 = rides60orlessonlytires26[rides60orlessonlytires26['user_gender'] == 'Female']
femalerides60orlessonlytires26.head()

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
18,16,16,Steuart St at Market St,42,San Francisco City Hall (Polk St at Grove St),5000,2,2000,Female,26
41,12,3,Powell St BART Station (Market St at 4th St),6,The Embarcadero at Sansome St,2899,1,1967,Female,26
45,1,67,San Francisco Caltrain Station 2 (Townsend St...,64,5th St at Brannan St,2436,2,1990,Female,26
52,13,21,Montgomery St BART Station (Market St at 2nd St),78,Folsom St at 9th St,2531,2,1999,Female,26
53,14,21,Montgomery St BART Station (Market St at 2nd St),78,Folsom St at 9th St,1502,2,1998,Female,26

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [11]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
df = pd.read_csv('more-messy-data.csv')

In [12]:
print('There are', df.duplicated().sum(), 'duplicate rows!')

There are 287 duplicate rows!

In [13]:
## Next, remove all duplicate rows using Python.
df = df.drop_duplicates()

In [14]:
#Checking work
print('There are', df.duplicated().sum(), 'duplicate rows!')

There are 0 duplicate rows!

In [15]:
#Ensures that all the columns are the same type, which they are not
df.dtypes

id                int64
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width      object
species          object
dtype: object

In [16]:
# Remove non-numeric characters from the 'petal_width' column
df['petal_width'] = df['petal_width'].replace('[^0-9.]', '', regex=True)

# Convert the 'petal_width' column to float dtype
df['petal_width'] = df['petal_width'].astype(float)

In [17]:
#Checking work
df.dtypes

id                int64
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [18]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.
df_miss = df.fillna(df.mean())

print(df_miss)

       id  sepal_length  sepal_width  petal_length  petal_width     species
0       1      3.500000      2.90000           1.4     0.500000   virginica
1       2      3.600000      3.20000           3.0     0.500000      setosa
2       3      3.800000      2.98876           2.2     1.500000      setosa
3       4      5.800000      2.70000           2.6     1.200000   virginica
4       5      4.900000      3.60000           3.0     1.200000   virginica
...   ...           ...          ...           ...          ...         ...
1311  412      4.522004      3.60000           2.9     0.500000  Versicolor
1312  413      5.800000      2.70000           2.0     0.100000  Versicolor
1313  414      3.300000      3.70000           1.3     2.800000  Versicolor
1314  415      3.100000      2.98876           1.1     1.614241  Versicolor
1315  416      4.300000      2.50000           1.3     1.000000  Versicolor

[1029 rows x 6 columns]

<ipython-input-18-c45db4bab840>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_miss = df.fillna(df.mean())

In [19]:
# Find any values in the dataframe that are still missing, and delete them.
df['species'] = df['species'].replace('nan', np.nan)
dfclean = df.dropna(subset=['species'])

In [35]:
# How many different species are there?
dfclean['species'] = dfclean['species'].str.lower()
num_species = dfclean['species'].nunique()
print('There are', num_species, 'different species!')
#Printing allowed me to map it in the next step
unique_species = dfclean['species'].unique()
print(unique_species)

There are 7 different species!
['virginica' 'setosa' 'versicolor' 'setoso' 'viginica' 'virginia'
 'setosan']

<ipython-input-35-b61e40251b0c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfclean['species'] = dfclean['species'].str.lower()

In [36]:
# Clean up the 'species' variable so that there are exactly three different values
mapping = {'setosa' : 'setosa',
           'setosan' : 'setosa',
           'setoso' : 'setosa',
           'virginica' : 'virginica',
           'viginica' : 'virginica',
           'virginia' : 'virginica',
           'versicolor' : 'versicolor'
           }

df['species'] = df['species'].replace(mapping)
threespecies = df['species'].nunique()


print('There are', threespecies, 'different species!')

There are 3 different species!

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [22]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

# Here is an example.
# Play around with different expressions and test strings to see what happens.
exp = 'ab+'
test = 'aabbbc'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

# uncomment this line if you want
# print(type(re.match(exp,test)))

# uncomment this line if you want
# print(bool(re.match(exp,test)))

no match